.terraform/
*.tfstate.*
*.tfvars
*.tfvars.json
*.terraform.tfstate.lock.info
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
infra/function.zip
localstack_data/
volume/
.DS_Store
.idea/
.vscode/
*.log